@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  background: hsl(233, 47%, 7%);
  font-size: 15px;
  font-family: Inter;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  min-width: 70%;
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
  margin: 160px auto 150px auto;
}

.text-container {
  width: 50%;
  margin: 0 60px 30px 60px;
}

.text-container .main-text h3 {
  /* font-size: 120px; */
  color: hsl(0, 0%, 100%);
}

.text-container .main-text h3 span {
  color: hsl(277, 64%, 61%);
}

.text-container .main-text p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: hsla(0, 0%, 100%, 0.75);
}

.stats {
  display: grid;
  margin: 40px 0 10px 0;
  grid-template-columns: auto auto auto;
}

.stats h3 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  font-size: 25px;
}

.stats p {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  margin: 2px 0 10px 0;
}

.img-container {
  position: relative;
  width: 50%;
  background-image: url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.img-container::after {
  content: "";
  background-color: hsl(277, 64%, 61%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.attribution {
  justify-self: end;
  font-size: 13px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  /* margin-top: 100px; */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1300px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 70%;
    background: hsl(244, 38%, 16%);
    border-radius: 5px;
    margin: 160px auto 150px auto;
  }

  .text-container {
    width: 45%;
    margin: 0 10px 30px 35px;
  }

  .text-container .main-text h3 {
    font-size: 32px;
  }

  .img-container {
    width: 50%;
  }
}

@media screen and (max-width: 1999px) {
  .container {
    width: 80%;
  }

  .text-container {
    width: 45%;
    margin: 0 10px 30px 35px;
  }

  .text-container .main-text h3 {
    font-size: 35px;
  }

  .text-container .main-text p {
    font-size: 18px;
  }

  .img-container {
    width: 55%;
  }
}

@media screen and (max-width: 999px) {
  .container {
    width: 90%;
  }

  .text-container .main-text h3 {
    font-size: 30px;
  }

  .text-container .main-text p {
    font-size: 16px;
  }

  .stats h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 799px) {
  .container {
    width: 100%;
  }

  .text-container {
    width: 45%;
  }
  .text-container .main-text h3 {
    font-size: 25px;
  }

  .text-container .main-text p {
    font-size: 13px;
  }

  .stats h3 {
    font-size: 18px;
  }

  .stats p {
    font-size: 10px;
    margin-bottom: 0;
  }

  .img-container {
    width: 55%;
  }
}

@media screen and (max-width: 699px) {
  .container {
    width: 100%;
  }

  .text-container {
    width: 40%;
    margin: 0 5px 30px 15px;
  }

  .text-container .main-text h3 {
    font-size: 22px;
  }

  .text-container .main-text p {
    font-size: 12px;
  }

  .stats h3 {
    font-size: 16px;
  }

  .stats p {
    font-size: 9px;
  }

  .img-container {
    width: 60%;
  }
}

@media screen and (max-width: 599px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .text-container .main-text {
    margin: auto 15px auto 15px;
  }
  .text-container .main-text h3 {
    font-size: 30px;
    text-align: center;
  }

  .text-container .main-text p {
    font-size: 18px;
    text-align: center;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stats .stats-figures {
    text-align: center;
    margin-bottom: 20px;
  }

  .stats h3 {
    font-size: 22px;
  }

  .stats P {
    font-size: 14px;
  }

  .img-container {
    width: 100%;
    height: 38vh;
    background-image: url("./images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 400px) {
  .text-container .main-text h3 {
    font-size: 20px;
  }

  .text-container .main-text p {
    font-size: 11px;
    font-weight: normal;
  }

  .img-container {
    height: 30vh;
  }

  .stats h3 {
    font-size: 18px;
  }
  .stats p {
    font-size: 9px;
  }

  .img-container {
    height: 25vh;
  }

  .attribution {
    font-size: 11px;
  }
}
